@import url('https://fonts.googleapis.com/css?family=Lobster|Lora&display=swap'); @import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap'); :root {
    --accent-color: #f7de60; --banner-color: gold; --font-color: black; font-family: 'Fira Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 980px;
    margin: auto;
}

header .menu #logo [src^=img] {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link {
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    background: rgb(255, 255, 255);
    font-size: 20px;
}

header .menu .link nav  a {
    text-decoration: none;
    color: var(--font-color);
    text-transform: uppercase;
    border: 2px inset transparent;
    padding: 2px;

}

header .menu .link nav:first-of-type{
    background-color: #FFEC99;
    color: white;
}

header .menu .link nav a:hover {
    border: 2px inset var(--accent-color);
}

@media (min-width: 600px) {
    header .menu {
        display: flex;
        align-items: center;
    }

    header .menu .link {
        flex: 1;
    }
}

header .banner {
    background-image: url(../img/title.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

header .banner {
    font-family: 'Exo 2', sans-serif;
    font-size: 2rem;
    margin: 8px 0;
    text-align: center;
    text-transform: uppercase;
    color: goldenrod;
}

header .banner h1 {
    margin: 3rem 0;
}

header .banner h2 {
    margin: 15px 0;
    font-size: 1em;
}

body main h2 {
    text-align: center;
}
body main
